.list{
    display: flex;
    color: red;
    flex-direction: column;
    border: 2px solid black;
    margin: 2rem;
}

.list div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
}
